.todo-page {


    .form-add-todo {
        form {


            padding: 20px;

            .type-priority {
                display: flex;

                .form-group:first-child {
                    padding-right: 20px;
                }
            }

            .form-group {
                margin: 5px 0;

                label {
                    display: inline-block;
                    width: 100px;
                }


                input[type="text"],
                textarea {
                    width: 50%;
                }

                input,
                select {

                    display: inline-block;
                    padding: 5px 10px;
                }



                textarea {
                    padding: 5px 10px;
                    resize: none;
                }


            }

            .btn {
                width: fit-content;
                text-transform: none;
            }
        }
    }
}

.todo {

    .list-todo {
        .name {
            font-weight: bold;
            font-size: 20px;
            border-bottom: 1px solid #ccc;
        }

        .item {
            padding: 5px 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
        }

        .button {
            padding: 10px 0;

            .btn {
                padding: 5px 15px;
                margin-right: 5px;
            }
        }
    }
}


.modal {

    .modal-body {

        p {
            padding: 10px 0;
        }
    }

    .modal-form {

        form {

            .form-group {
                padding: 5px 0;
                width: 100%;

                input,
                select,
                textarea {
                    padding: 5px 10px;
                    display: inline-block;
                    width: 100%;
                    margin-right: 5px;
                    border-radius: 3px;
                    outline: none;
                    border: 1px solid #ccc;
                }

                label {
                    display: block;
                }
            }
        }

        .type-priority,
        .time {
            justify-content: space-between;
            display: flex;
        }
    }
}