:root {
    --color-silver: #f0f2f5;
    --color-primary: #49C706;
    --color-second: #2b62c7;
    --color-border-silver: #ccc;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    width: 1500px;
    margin: auto;
    display: flex;
}


ul li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    width: calc(100% + 5px);
    border-radius: 5px;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}